body{
    font-family: 'Noto Sans', sans-serif;
    margin: 0; 
}

/* Header Section Style */
.banner{
    background-image: url(images/banner/banner3.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.banner-heading{
    margin-bottom: 24px;
    font-size: 65px;
    color: white;
    text-align: end;
}

.banner-description{
    margin-bottom: 32px;
    color: white;
    text-align: end;
}

.site-details{
    padding-top: 15%;
    padding-bottom: 20%;
    margin-right: 20%;
    display: flex;
    align-items: end;
    justify-content: end;
    flex-direction: column;
}

.banner-btn{
    height: 64px;
    width: 160px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #005FAC;
}

/* Main Section Style */

/* Previous Years Failure Section  */
.prev-yearSection{
    margin:130px 250px;
    padding: 0 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.icon-color{
    color: chartreuse;
}

/* Plans Section */
.plans-section{
    text-align: center;
    margin: 0 230px; 
}
.plans{
    margin-top: 50px;
    margin-bottom: 130px;
    display: flex;
    justify-content: space-evenly;
}

/* Gradient Section Style */
.gradient{
    height: 300px;
    margin: 0 250px;
    padding-left: 64px;
    padding-top: 59px;
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(0, 54, 170)),url(images/watch.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover; 
}
.text-color{
    color: white;
}

/* footer Section Style */
footer{
    margin-top: 130px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 100px 250px;
}
input{
    height: 64px;
    width: 325px;
    font-size: 18px;
    border: 2px solid white;
    border-radius: 5px;
    background: none;
}
.sub-btn{
    margin-top: 15px;
    height: 64px;
    width: 160px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    background-color: #005FAC;
    color: white;
}
::placeholder{
    color: white;
}